.home {
	width: 100%;
	background-color: transparent;

	.container {
		width: 100%;
		max-width: 1300px;
		margin: 0 auto;
		padding: 40px 15px;
		display: flex;
		align-items: flex-start;
		justify-content: center;

		.left {
			flex: 1;
			display: flex;
			flex-direction: column;
			gap: 30px;
		}

		.right {
			flex: 0.5;
		}
	}
}
